# LokiProxy HTTP/HTTPS proxy configuration
LOKIPROXY_HOST=your-proxy-host
LOKIPROXY_PORT=your-proxy-port

# LokiProxy proxy credentials
LOKIPROXY_USERNAME=your-sub-user
LOKIPROXY_PASSWORD=your-sub-user-password

# LokiProxy SOCKS5 configuration
LOKIPROXY_SOCKS5_HOST=your-socks5-host
LOKIPROXY_SOCKS5_PORT=your-socks5-port
